body{
    background: linear-gradient(to bottom right, #00cc66 0%, #99ff33 100%);
}

#div1{
margin-top:15%
background-color:skyblue;
margin-left : 25%;
margin-right : 25%;
}

h1{
padding-left:10%;
}

#predtxt{
padding-left:30%;
}

img{
margin-left:25%;
}

#text{
margin-left:25%;
}

#btn{
margin-left:40%;
padding-left:5%;
padding-right:5%;
}

